.jfbar{
	box-shadow: none;
	background-color: #007dff;
}
.nav-back{
	position: absolute;
	padding-left: 15px;
	left: 10px;
	height: 44px;
	line-height: 44px;
	color: white;
	width: 44px;
	text-align: center;
	background-image: url(../images/icon-back.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 15px 22px;
}
.nav-title{
	color: white;
	font-size: 20px;
	height: 44px !important;
	line-height: 44px !important;
	padding: 0px !important;
	left: 20px !important;
	right: 20px !important;
}
.nav-title2{
	color: white;
	font-size: 20px;
	height: 44px !important;
	line-height: 44px !important;
	padding: 0px !important;
	left: 40px !important;
	right: 40px !important;
}
.nav-right{
	position: absolute;
	right: 10px;
	height: 44px;
	line-height: 44px;
	color: white;
	width: 50px;
	text-align: center;
}
.mui-segmented-control{
	top: 6px !important;
}
.mui-control-item{
	color: white !important;
	height: 30px !important; 
	line-height: 30px !important;
	/*margin-bottom: 3px !important;*/
	border: 1px solid white !important;
	padding: 0px 5px !important;
}
.mui-active{
	color: #007DFF !important;
	background-color: white !important;
}
.no-left{ 
	border-left: none !important; 
}
.mui-content,.mui-control-content{
	background-color: #d9dcdc !important;
}
.mui-table-view{
	background-color: #d9dcdc !important;
}
/* 去除列表前后的线 */
.mui-table-view:before{
	height: 0px;
}
.mui-table-view:after{
	height: 0px;
}
.mui-table-view-cell:after{
	height: 0px;
}
.mui-table-view-cell{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	padding: 8px 0px 0px 0px;
	border-radius: 5px;
	width: calc(100% - 10px);
	margin-left: 5px;
	position: relative;
	font-size: 15px;
}
.line1{
	height: 40px;
	padding: 0px 8px;
	font-size: 14px;
	color: #999999;
}
.order-time{
	margin-right: 20px;
	height: 30px;
	line-height: 30px;
}
.singed{
	float: right;
	color: white;
	font-weight: 800;
	background-color: red;
	border: 0px;
}
.sengding{
	float: right;
	color: white;
	font-weight: 800;
	background-color: #f7a608;
	border: 0px;
	border-radius: 20px;
	padding: 7px 12px 5px;
}
.about-order{
	color: #666666;
	font-size: 16px;
	margin-top: 0px;
	padding-bottom: 5px;
}
.order-mark{
	margin-top: 1px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #f1f9ff;
	color: #007DFF;
	font-size: 14px;
	border-bottom: 1px solid #EEEEEE;
	height: 30px;
	line-height: 30px;
}
.line2{
	background-color: #f1f9ff;
}
.address{
	padding: 8px;
}
.line2-left{
	float: left;
	width: calc(100% - 44px);
}
.customer{
	padding: 0px;
	margin: 0px;
	color: #555555;
	font-size: 16px;
	padding-bottom: 5px;
}
.customer-name{
	margin-right: 10px;
}
.customer-tel{
	text-decoration: underline;
	color: blue;
}
.order-address,.order-sender{
	color: #555555;
	font-size: 16px;
}
.line3{
	padding: 8px;
	position: relative;
	height: 50px;
}
.button-goods{
	float: right;
	color: #2fbf94;
	font-weight: 800;
	padding: 8px 12px 6px;
	border: 1px solid #2fbf94;
}
.button-goods-selected{
	float: right;
	color: white;
	font-weight: 800;
	background-color: #2fbf94;
	border: 1px solid #2fbf94;
}
.button-error{
	float: right;
	right: 15px;
	color: #555555;
	font-weight: 800;
	padding: 8px 12px 6px;
	border: 1px solid #c5c5c5;
}
.finish{
	float: right;
	color: #f7a608;
	font-weight: 800;
	padding: 7px 12px 5px;
}
.error{
	float: right;
	color: #dc6c69;
	font-weight: 800;
	padding: 7px 12px 5px;
}
.order-emark{
	margin-top: 1px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #f1f9ff;
	color: #555555;
	font-size: 14px;
	border-bottom: 1px solid #EEEEEE;
	height: 30px;
	line-height: 30px;
}
.tomorrow{
	float: right;
	color: #007dff;
	font-weight: 800;
	padding: 7px 12px 5px;
}
.goods-list-header{
	height: 44px;
	background-color: #F0F0F0; 
	text-align: center;
	color: #555555;
	/*margin: 0px 8px;*/
}
.list-common-style{
	height: 44px;
	line-height: 44px;
	text-align: center;
	width: 50%;
	float: left;
}
.list-left{
	/*float: left;
	width: 60px;
	text-align: center;*/
}
.list-right{
	/*float: left;
	width: 60px;
	text-align: center;*/
}
.list-view{
	margin-top: 84px;
	position: absolute;
	background-color: #d9dcdc;
	width: 100%;
	padding: 0px;
	text-align: center;
	color: #555555;
}
.tableView{
	padding: 0px;
	margin: 0px;
	list-style: none;
	background-color: #d9dcdc;
}
.tableView-cell{
	padding: 0px;
	/*margin: 0px 8px 0px 8px;*/
	background-color: white !important;
	height: 44px;
}
.tableView-cell-active{
	background-color: #F0F0F0;
	/*margin: 0px 8px 0px 8px;*/
	padding: 0px;
}
input[type=radio]{
	top: 9px !important;
}
