<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/mestyle.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<h1 class="mui-title nav-title">登录</h1>   
		</header> 
		<div class="mui-content">
			<div class="input-area">
				<div class="mui-input-row">
					<label><span class="mui-icon mui-icon-person-filled"></span>账号</label>
					<input id="userid" type="text" class="mui-input-clear" placeholder="请输入账号" />
				</div>
				<div class="line"></div>
				<div class="mui-input-row">
					<label><span class="mui-icon mui-icon-locked"></span>密码</label>
					<input id="pw" type="text" class="mui-input-clear" placeholder="请输入密码" />
				</div>
			</div>
			<button id="login" type="button" class="login-btn">登录</button>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/system.js" ></script>
	<script type="text/javascript"> 
		mui.init(function(){
		});
		var userid = null;   // 用户名
		var pasword = null; // 密码
		mui.plusReady(function(){
			//读取本地存储，检查是否登录
			var showGuide = localStorage.getItem(IS_LOGIN);
		//  登录就进入首页
			if(showGuide == "true"){ 
				openIndex();
			}
			var osName = plus.os.name;
			if (osName == 'iOS') {
				// 设置状态栏 颜色
				plus.navigator.setStatusBarBackground("#007dFF");
				// 设置状态栏 样式
				plus.navigator.setStatusBarStyle('UIStatusBarStyleDefault');
			}
			plus.navigator.closeSplashscreen();
			userid = document.getElementById('userid');
			pasword = document.getElementById('pw');
		})
		// 检查输入字符是否正确
		function inputCheck(inputObject) {  
			 var inputexp  = /^[\s]*$/;  
			 if (inputexp.test(inputObject.value)){  
			 	  inputObject.value = "";
			      return false;  // 输入全空格
			 }else{
			 	return true;   
			 }
		 }
		//登录按钮点击事件
		document.getElementById("login").addEventListener('tap', function(event) {
			console.log("登录");
			// 校验用户名
			if (userid.value.length == 0 || inputCheck(userid) == false) {
				mui.toast(USERNAME_EMPTY);
				return;
			}
			// 校验密码
			if (pasword.value.length == 0 || inputCheck(pasword) == false) {
				mui.toast(PASSWORD_EMPTY);
				return;
			}
			loginRequest();
		});
		function loginRequest(){
			mui.ajax(BASE_URL + LOGIN,{
				data: {
					username: userid.value,
					pw: pasword.value,
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
					plus.nativeUI.showWaiting(LOGIN_ING);
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
						mui.toast(LOGIN_SUCCESS);
						// 存储输入的用户账号和密码
						localStorage.setItem(USER_NAME,userid.value);
						localStorage.setItem(PASS_WORD,pasword.value)
						// 设置登录状态  退出登录时设置为 false
						localStorage.setItem(IS_LOGIN,"true");
						// 存储登录用户信息
						localStorage.setItem(USER,JSON.stringify(data.user));
						// 存储员工列表
						localStorage.setItem(EMPLOYEES,JSON.stringify(data.employees));
						// 存储订单列表
						localStorage.setItem(ORDERS,JSON.stringify(data.orders));	
						setTimeout(function(){
							openIndex();
						},1100);
					}else{
						mui.toast(data.msg);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		};
		function openIndex(){
			mui.openWindow({
				id:'index.html',
				url:'/index.html',
				show:{
					aniShow:'none'
				},
				waiting:{
					autoShow:false
				}
			});
		}
		
	</script>
</html>