<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<h1 class="mui-title nav-title">功能</h1>
			<a class="nav-right">原料</a>
		</header>
		<div class="mui-content">
		
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript"> 
		mui.init({
			gestureConfig:{
				doubletap:true
			}, 
			subpages:[{
				url:'homelist.html',
				id:'homelist.html',
				styles:{
					top: '45px',
					bottom: '0px',
				}
			}]
		});
		mui.plusReady(function(){
			// 设置状态栏 颜色
			plus.navigator.setStatusBarBackground("#007dFF");
			// 设置状态栏 样式
			plus.navigator.setStatusBarStyle('UIStatusBarStyleDefault');
		})
		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap',function () {
			if(contentWebview==null){
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
		});
	</script>
</html>