<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单报错</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/homestyle.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<a class="mui-action-back mui-pull-left nav-back"></a>
			<h1 class="mui-title nav-title">订单报错</h1>   
		</header>
		<div class="mui-content">
			<div class="report-error">
				<div class="mui-checkbox error-item">
					<span class="error-span">缺货</span>
					<input class="error-checkbox" name="checkbox" type="checkbox">
				</div>
				<div class="mui-checkbox error-item">
					<span class="error-span">缺货</span>
					<input class="error-checkbox" name="checkbox" type="checkbox">
				</div>
				<div class="mui-checkbox error-item">
					<span class="error-span">缺货</span>
					<input class="error-checkbox" name="checkbox" type="checkbox">
				</div>
				<textarea class="error-textarea" placeholder="请输入详细情况说明"></textarea>
				<div class="button-area">
					<button class="close-button" type="button">关闭</button>
					<button class="save-button" type="button">保存</button>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript"> 
		mui.init({
			swipeBack: true, 
		});
		var self = null;
		
		mui.plusReady(function(){
			self = plus.webview.currentWebview();
		})
		function sendData(){
			
		}
		// 关闭按钮点击事件
		mui(".close-button")[0].addEventListener('tap',function(){
			console.log("关闭");
			mui.back(); // 返回
		})
		// 关闭按钮点击事件
		mui(".save-button")[0].addEventListener('tap',function(){
			console.log("保存");
			sendData();
		})
	</script>
</html>