<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/homestyle.css" />
		<style>
			.arrow-down{
				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url(../../images/arr-down.png);
				background-position: left 8px;
				background-size: 16px 10px;
				background-repeat: no-repeat;
			}
			.arrow-up{
				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url(../../images/arr-up.png);
				background-position: left 8px;
				background-size: 16px 10px;
				background-repeat: no-repeat;
			}
			.order-count{
				margin-left: 8px;  
				display: block;
				width: 80%;
				height: 30px;
				line-height: 30px;
				color: #666666;
			}
			.no-right{
				padding-top: 200px;
				width: 100%;
				background-image: url(../../images/icon-no.png);
				background-position: center center;
				background-repeat: no-repeat;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<h1 id="popover" class="mui-title nav-title">
				<span id="title-nav">全部</span>
				<span class="arrow-down" id="updown"></span>
			</h1>
			<a class="nav-right">原料</a>
		</header>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<!--<div class="no-right">抱歉，您没有权限查看~</div>-->
			<div class="mui-scroll" style="display: none;">
				<span class="order-count">0单</span>
				<ul class="mui-table-view">
				</ul>
			</div>
		</div>
		
		<!-- 顶部打印 -->
		<div class="mui-checkbox bottom-select">
			<input class="select-all" name="checkbox" type="checkbox">
			<span class="allText">全选</span>
    			<button class="print" id="printer" type="button">打印订单</button>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/system.js" ></script>
	<script type="text/javascript"> 
		mui.init({
			swipeBack: true, 
			pullRefresh: {
				container: '#pullrefresh',
				down: {
					callback: pulldownRefresh 
				}
			},
		});
		
        // 创建悬浮窗口
        function floatWebview() { 
            if(floatw) { // 避免快速多次点击创建多个窗口
                floatw.show("fade-in");  
            } else { 
                floatw = plus.webview.create("popover.html", "popover", {
                    background: 'transparent',
                    zindex: 10,
                    top: '44px',  
                });
                floatw.show("fade-in");
            }
        }

		var table = null;
		var checkDice = new Array();
		var checkbox = null;
		var selectAll = null;
		var dataStr = null;
		var order_count = null;
		var floatw = null;
		var self = null;
		var flag = false;
		var updown = null;
		var title_nav = null;
		var pullrefresh = null;
		var t = null;
		/**
		 * 下拉刷新具体业务实现
		 */
		function pulldownRefresh() {
			setTimeout(function() {
				refreshData();
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			}, 1500);
		}
		if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		mui.plusReady(function(){
			pullrefresh = document.querySelector('#pullrefresh');
			table = document.body.querySelector('.mui-table-view');
			selectAll = document.querySelector('.select-all');
			order_count = document.body.querySelector('.order-count');
			self = plus.webview.currentWebview();
			updown = document.querySelector('#updown');
			title_nav = document.querySelector('#title-nav');
			t = document.querySelector('.nav-title');
			floatw = plus.webview.create("popover.html", "popover", {
                background: 'transparent',
                zindex: 10,
                top: '44px',  
            });
			
			var isSuper = localStorage.getItem(IS_SUPER);
			console.log(isSuper + "---isSuper");
			if (isSuper) {
				// 进来显示登录缓存的数据
				refreshData();
			} else{
				pullrefresh.innerHTML = '<div class="no-right">抱歉，您没有权限查看~</div>';
				updown.removeAttribute('class');
				t.disabled = 'disabled';
			}
		})
		
		window.addEventListener('newsId',function(event){
		    //获得事件参数
		    var employeeId = event.detail.employeeId;
		    var name = null;
			if (employeeId == "管理员") {
				refreshData();
				title_nav.innerText = "全部";
			} else{
				myList(employeeId);
				title_nav.innerText = event.detail.name;
			}
			updown.className = 'arrow-down';
			flag = false;
		});
		
		function myList(emid){
			mui.ajax(BASE_URL + SUPERMAN,{
				data: {
					format: 'json',
					employee_id: emid
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
						if (data.order.length == 0) {
							table.innerHTML = "";
							order_count.innerText = '0单';
							mui.toast("暂时没有订单~");
						}else{
							order_count.innerText = data.order.length + '单';
							analyData(data.order);
							mui.toast("操作成功");
						}
					}else{ 
						mui.toast(data.status);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		}
		
		
		// 刷新数据
		function refreshData(){
			mui.ajax(BASE_URL + SUPERMAN,{
				data: {
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
						if (data.order.length == 0) {
							table.innerHTML = "";
							order_count.innerText = '0单';
							mui.toast("暂时没有订单~");
						}else{
							order_count.innerText = '已分配' + data.has_shipman_num + '/' + data.total_num + '单';
							analyData(data.order);
							mui.toast("操作成功");
						}
					}else{ 
						mui.toast(data.status);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		};
		// 数据解析
		function analyData(orData){
			table.innerHTML = "";
			mui.each(orData, function(index, item) {
//				console.log('----+ ' + item.id)
				checkDice[item.id] = 'X';
				var li = document.createElement('li');
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitack':
						sendStatus = "待确认"; // 红色
						sigeButton = '<button type="button" class="waitack"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'queue':
						sendStatus = "队列中";// 绿色
						sigeButton = '<button type="button" class="queue"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'ship':
						sendStatus = "送货中"; // 蓝色
						sigeButton = '<button type="button" class="sengding"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
				}
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				
				li.innerHTML = '<div class="line1">'
	    			+ '<span class="order-time">' + time + '</span>'
	    			+ '<span class="order-pay">' + payType + "￥" + item.price + '</span>'
	    			+ sigeButton
	    			+ '<div class="line2">'
	    			+ '<p class="about-order">'
	    			+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
	    			+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
	    			+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-mark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ '<input class="checkbox1" name="checkbox" type="checkbox"' + 'data-check-id="' + item.id + '">'
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button>'
				+ '<button class="button-error" type="button"' + 'data-button-error-id="' + item.id + '">' + "分单" + '</button></div>';
				table.appendChild(li, table.firstChild);
			});
		}
		// 全选 刷新页面
		function selectAllCheckbox(orData,flag){
			table.innerHTML = "";
			mui.each(orData, function(index, item) {
				if (flag == 1) {
					checkDice[item.id] = item.id;
					checkbox = '<input class="checkbox1" name="checkbox" checked type="checkbox"' + 'data-check-id="' + item.id + '">'
				} else{
					checkDice[item.id] = "X";
					checkbox = '<input class="checkbox1" name="checkbox" type="checkbox"' + 'data-check-id="' + item.id + '">'
				}
				var li = document.createElement('li');
//				console.log('---- ' + item.id);
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitack':
						sendStatus = "待确认"; // 红色
						sigeButton = '<button type="button" class="waitack"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'queue':
						sendStatus = "队列中";// 绿色
						sigeButton = '<button type="button" class="queue"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'ship':
						sendStatus = "送货中"; // 蓝色
						sigeButton = '<button type="button" class="sengding"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
				}
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				
				li.innerHTML = '<div class="line1">'
	    			+ '<span class="order-time">' + time + '</span>'
	    			+ '<span class="order-pay">' + payType + "￥" + item.price + '</span>'
	    			+ sigeButton
	    			+ '<div class="line2">'
	    			+ '<p class="about-order">'
	    			+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
	    			+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
	    			+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-mark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ checkbox
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button>'
				+ '<button class="button-error" type="button"' + 'data-button-error-id="' + item.id + '">' + "分单" + '</button></div>';
				table.appendChild(li, table.firstChild);
			});
//			dataStr = makeData(checkDice);
//			console.log(dataStr);
//         	localStorage.setItem(ORDER_LIST,dataStr);
		}
		
		document.getElementById('popover').addEventListener('tap',function(){
			flag = !flag;
//			console.log(flag);
			if (flag == true) { 
				updown.className = 'arrow-up';
				floatWebview();
			} else{
				updown.className = 'arrow-down';
				floatw.hide('fade-out');
			}
		})
		// 拨打电话
		mui('.mui-content').on('tap','.customer-tel',function(){
			var phoneNumber = this.getAttribute('data-tel');
			var name = this.getAttribute('data-name');
//			console.log("tel = " + phoneNumber);
//			console.log("name = " + name);
			var btn = ["取消","确定"];
			mui.confirm(phoneNumber,'确定呼叫:' + name,btn,function(e){
				if(e.index == 1){
					window.open("tel:" + phoneNumber);
				}
			});
		}) 
		// 到百度地图
		mui('.mui-content').on('tap','.address-nav',function(){
			var address = this.getAttribute('data-address');
//			console.log("address = " + address);
			// http://ask.dcloud.net.cn/question/14404
			// 调起百度地图 
			// http://lbsyun.baidu.com/index.php?title=uri/api/android
			// iOS端
			var href = "baidumap://map/geocoder?src=webapp.geo.yourCompanyName.yourAppName&address=" + address;
			// Android端
			var anhref = "bdapp://map/geocoder?src=openApiDemo&address=" + address;
			var osName = plus.os.name;
			var btn = ["取消","确定"];
			mui.confirm("请确定是否安装百度地图","本应用需要打开百度地图",btn,function(e){
				if(e.index == 1){
					if (osName == "iOS") {
						window.open(href);
					} else{
						window.open(anhref);
					}
				}
			});
		}) 
		// 分单按钮
		mui('.mui-content').on('tap','.button-error',function(){
			var id = this.getAttribute('data-button-error-id');
//			console.log("id = " + id);
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"../order/repolicy.html",
				id:"repolicy.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					listID: id
				},
				waiting:{
					autoShow:false
				}
			})
		}) 
		// 商品按钮
		mui('.mui-content').on('tap','.button-goods',function(){
			var id = this.getAttribute('data-button-goods-id');
//			console.log("订单ID = " + id);
			
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"../home/goodslist.html",
				id:"goodslist.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					goodsID: id
				},
				waiting:{
					autoShow:false
				}
			})
		}) 
		// 全选按钮点击事件
        mui('body').on('change','.select-all',function(){
//      		console.log("全选"); 
        		 if (this.checked) { 
                selectAllCheckbox(JSON.parse(localStorage.getItem(ORDERS)),1);
            } else{
                selectAllCheckbox(JSON.parse(localStorage.getItem(ORDERS)),0); 
            }
        })
		// 事件绑定
        mui('.mui-content').on('change','.checkbox1',function(){
        		var orderId = this.getAttribute('data-check-id');
//          console.log("id = " + orderId + " status = " + this.checked);
            if (this.checked) { 
                checkDice[orderId] = orderId;
            } else{
                checkDice[orderId] = 'X';
            }
            isSelectAll(checkDice);
        })
        
        function isSelectAll(dice){
        		var result = '';
        		var count = null;
            for (var key in dice) {
                if (dice[key] != 'X') {
                    result = result + dice[key] + ',';
                } 
                count ++ ;
            }
            var temp = result.substring(0,result.length - 1);
            var dataArray = temp.split(',');
//          console.log(dataArray.length);
//          console.log(count);
            if (dataArray.length == count) {
            		selectAll.checked = true;
            } else{
            		selectAll.checked = false;
            }
//          console.log('被选中的checkbox的ID是：' + makeData(checkDice));
//          dataStr = makeData(checkDice);
//          localStorage.setItem(ORDER_LIST,dataStr);
        }
        
        // 数据处理
        function makeData(dice){
            var result = '';
            for (var key in dice) {
                if (dice[key] != 'X') {
                    result = result + dice[key] + ',';
                } 
            }
            // 去除字符串最后的','后返回
            return result.substring(0,result.length - 1);
        }
		
		// 修改订单状态
		mui('.mui-content').on('tap','.sengding',function(){
			var orderID = this.getAttribute('button-send-id');
//			console.log(orderID);
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		}) 
		// 修改订单状态
		mui('.mui-content').on('tap','.waitack',function(){
			var orderID = this.getAttribute('button-send-id');
//			console.log(orderID);
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		}) 
		// 修改订单状态
		mui('.mui-content').on('tap','.queue',function(){
			var orderID = this.getAttribute('button-send-id');
//			console.log(orderID);
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		}) 
		
		// 改变订单状态
		function changeStatus(orID){
			mui.ajax(BASE_URL + CHANGE_ORDER_STATUS,{
				data: {
					order_id: orID,
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
//					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
//						mui.toast(data.msg);
						setTimeout(function(){
					        refreshData();
					    },100);
					}else{ 
						mui.toast(data.status + data.msg);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
//					plus.nativeUI.closeWaiting();
				}
			});
		};
		
		document.getElementById('printer').addEventListener('tap',function(){
			dataStr = makeData(checkDice);
			console.log('--' + dataStr);
			if (dataStr == null || dataStr == undefined || dataStr.length == 0) {
				alert("请选择需要打印的订单");
			} else{
				console.log('打印');
				printOrders(dataStr); 
			}
		})
		function printOrders(ids){
			mui.ajax(BASE_URL + PRINT_ORDER_TICKET,{
				data: {
					selected_orders: ids,
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function() {
					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					mui.toast(data.msg);
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		}
		document.querySelector('.nav-right').addEventListener('tap',function(){
			dataStr = makeData(checkDice);
//			console.log('--' + dataStr);
			if (dataStr == null || dataStr == undefined || dataStr.length == 0) {
				alert("请选择需要计算原料的订单");
				return;
			} else{
				// 原料
				var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
				var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
				mui.openWindow({
					url:"../home/goodslist.html",
					id:"goodslist.html",
					show:{
						autoShow:true,//页面loaded事件发生后自动显示，默认为true
	      				aniShow:animationType,
	     				duration:animationTime,
					}, 
					extras:{
						goodsIDs: dataStr,
						enterType: '1',
						goodsID: '1'
					},
					waiting:{
						autoShow:false
					}
				})
			}
		})

	</script>
</html>