<!doctype html>
<html>

	<head>
		<meta charset="UTF-8"> 
		<title>订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/orderstyle.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<h1 class="mui-title nav-title2">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#item1">
						订单管理
					</a>
					<a class="mui-control-item no-left" href="#item2">
						已完成
					</a>
					<a class="mui-control-item no-left" href="#item3">
						已报错
					</a>
					<a class="mui-control-item no-left" href="#item4" >
						明日订单
					</a>
				</div>  
			</h1>
		</header>      
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div id="item1" class="mui-control-content mui-active">
					<span class="order-count1">0单</span>
					<ul class="mui-table-view tableView1">
			 			 <!--<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> -->
					</ul>
				</div>
				<div id="item2" class="mui-control-content">
					<span class="order-count2">0单</span>
					<ul class="mui-table-view tableView2">
						<!--<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> -->
					</ul>
				</div>
				<div id="item3" class="mui-control-content">
					<span class="order-count3">0单</span>
					<ul class="mui-table-view tableView3">
						<!--<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li>-->
					</ul>
				</div>
				<div id="item4" class="mui-control-content">
					<span class="order-count4">0单</span>
					<ul class="mui-table-view tableView4">
						<!-- <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> -->
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/system.js" ></script>
	<script>
		mui.init({
			keyEventBind: {
				backbutton: false,  //Boolean(默认true)关闭back按键监听
				menubutton: false   //Boolean(默认true)关闭menu按键监听
			}
		});
		var table1 = null; // 订单管理
		var table2 = null; // 已完成订单
		var table3 = null; // 已报错
		var table4 = null; // 明日订单
		var order_count1 = null;
		var order_count2 = null;
		var order_count3 = null;
		var order_count4 = null;
		mui.plusReady(function(){
			table1 = document.body.querySelector('.tableView1');
			table2 = document.body.querySelector('.tableView2');
			table3 = document.body.querySelector('.tableView3');
			table4 = document.body.querySelector('.tableView4');
			order_count1 = document.body.querySelector('.order-count1');
			order_count2 = document.body.querySelector('.order-count2');
			order_count3 = document.body.querySelector('.order-count3');
			order_count4 = document.body.querySelector('.order-count4');
			getData();
		})
		mui('.mui-scroll-wrapper').scroll({
			 scrollY: true, //是否竖向滚动
			 scrollX: false, //是否横向滚动
			 startX: 0, //初始化时滚动至x
			 startY: 0, //初始化时滚动至y
			 indicators: true, //是否显示滚动条
			 deceleration:0.0004, //阻尼系数,系数越小滑动越灵敏
			 bounce: true //是否启用回弹
		});
		// 获取数据
		function getData(){
			mui.ajax(BASE_URL + ORDER_TYPE,{
				data: {
					username: localStorage.getItem(USER_NAME),
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
//						mui.toast(REFRESH_SUCCESS);
						allOrders(data.all_orders);
						doneOrders(data.done_orders);
						errorOrders(data.error_orders);
						tomorrowOrders(data.tomorrow_orders);
					}else{ 
						mui.toast(REFRESH_FAILE + data.status);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		};
		
		
		// 订单管理
		function allOrders(data1){
			table1.innerHTML = "";
			order_count1.innerText = data1.length + '单';
			mui.each(data1, function(index, item) {
				var li = document.createElement('li');
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				time = addDate(time);
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitpay':
						sendStatus = "未付款";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'waitack':
						sendStatus = "待确认";
						sigeButton = '<button type="button" class="waitack"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'queue':
						sendStatus = "队列中";
						sigeButton = '<button type="button" class="queue"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'ship':
						sendStatus = "送货中";
						sigeButton = '<button type="button" class="sengding"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'finish':
						sendStatus = "已完成";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'cancel':
						sendStatus = "已取消";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'paid_card':
						sendStatus = "已刷卡";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'error':
						sendStatus = "报错单";
						sigeButton = '<span class="error">' + sendStatus + '</span></div>';
						break;
				}
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				
				li.innerHTML =  '<div class="line1">'
				+ '<span class="order-time">' + time + '</span>'
				+ '<span class="order-pay">'  + payType + "￥" + item.price + '</span>'
				+ sigeButton
				+ '<div class="line2">'
				+ '<p class="about-order">'
				+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
				+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
				+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-mark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button>'
				+ '<button class="button-fendan" type="button"' + 'data-button-error-id="' + item.id + '">' + "分单" + '</button></div>';
				table1.appendChild(li, table1.firstChild);
			});
		}
		// 已完成
		function doneOrders(data2){
			table2.innerHTML = "";
			order_count2.innerText = data2.length + '单';  
			mui.each(data2, function(index, item) {
				var li = document.createElement('li');
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				time = addDate(time);
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitpay':
						sendStatus = "未付款";
						break;
					case 'waitack':
						sendStatus = "待确认";
						break;
					case 'queue':
						sendStatus = "队列中";
						break;
					case 'ship':
						sendStatus = "送货中";
						break;
					case 'finish':
						sendStatus = "已完成";
						break;
					case 'cancel':
						sendStatus = "已取消";
						break;
					case 'paid_card':
						sendStatus = "已刷卡";
						break;
					case 'error':
						sendStatus = "报错单";
						break;
				}
				sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				
				li.innerHTML =  '<div class="line1">'
				+ '<span class="order-time">' + time + '</span>'
				+ '<span class="order-pay">'  + payType + "￥" + item.price + '</span>'
				+ sigeButton
				+ '<div class="line2">'
				+ '<p class="about-order">'
				+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
				+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
				+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-mark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button></div>';
				table2.appendChild(li, table2.firstChild);
			});
		}
		// 已报错
		function errorOrders(data3){
			table3.innerHTML = "";
			order_count3.innerText = data3.length + '单';
			mui.each(data3, function(index, item) {
				var li = document.createElement('li');
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				time = addDate(time);
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitpay':
						sendStatus = "未付款";
						break;
					case 'waitack':
						sendStatus = "待确认";
						break;
					case 'queue':
						sendStatus = "队列中";
						break;
					case 'ship':
						sendStatus = "送货中";
						break;
					case 'finish':
						sendStatus = "已完成";
						break;
					case 'cancel':
						sendStatus = "已取消";
						break;
					case 'paid_card':
						sendStatus = "已刷卡";
						break;
					case 'error':
						sendStatus = "报错单";
						break;
				}
				sigeButton = '<span class="error">' + sendStatus + '</span></div>';
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				// 报错
				if (item.error == "" || item.error == null || item.error == undefined) {
					var error = "报错: " + "无";
				} else{
					var error = "报错: " + item.error;
				}
				
				li.innerHTML =  '<div class="line1">'
				+ '<span class="order-time">' + time + '</span>'
				+ '<span class="order-pay">'  + payType + "￥" + item.price + '</span>'
				+ sigeButton
				+ '<div class="line2">'
				+ '<p class="about-order">'
				+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
				+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
				+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-emark">' + error + '</div>'
	    			+ '<div class="order-emark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button></div>';
				table3.appendChild(li, table3.firstChild);
			});
		}
		// 明日订单
		function tomorrowOrders(data4){  
			table4.innerHTML = "";
			order_count4.innerText = data4.length + '单';
			mui.each(data4, function(index, item) {
				var li = document.createElement('li');
				li.orderId = item.id; /*订单id*/
				var time = item.ship_time.split("T")[0];
				time = addDate(time);
				li.className = 'mui-table-view-cell mui-collapse-content'; 
				var sendStatus = null; 
				var sigeButton = null;
				switch (item.status) {
					case 'waitpay':
						sendStatus = "未付款";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'waitack':
						sendStatus = "待确认";
						sigeButton = '<button type="button" class="waitack"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'queue':
						sendStatus = "队列中";
						sigeButton = '<button type="button" class="queue"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'ship':
						sendStatus = "送货中";
						sigeButton = '<button type="button" class="sengding"' + 'button-send-id="' + item.id + '">' + sendStatus + '</button></div>';
						break;
					case 'finish':
						sendStatus = "已完成";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'cancel':
						sendStatus = "已取消";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'paid_card':
						sendStatus = "已刷卡";
						sigeButton = '<span class="finish">' + sendStatus + '</span></div>';
						break;
					case 'error':
						sendStatus = "报错单";
						sigeButton = '<span class="error">' + sendStatus + '</span></div>';
						break;
				}
				var payType = null;
				switch (item.pay_type) {
					case 'cash':
						payType = "货到付款";
						break;
					case 'inshop':
						payType = "店内现金";
						break;
					case 'card':
						payType = "店内刷卡";
						break;
					case 'alipay':
						payType = "支付宝";
						break;
					case 'credit':
						payType = "余额支付";
						break;
					case 'wechat':
						payType = "微信支付";
						break;
					case 'pos':
						payType = "POS机刷卡";
						break;
					case 'receive':
						payType = "到店自提";
						break;
				}
				var href = "tel:" + item.phone;
				var address = "地址: " + item.address;
				var peisongren = null;
//				console.log(item.ship_man_id);
				if (item.ship_man_id == null || item.ship_man_id == undefined || item.ship_man_id == "null" || item.ship_man_id == "" || item.ship_man_id == '该区域没有配送人') {
					var sender = "(配送人:" + '该区域没有配送人' + ")";
					peisongren = '<span class="order-sender" style="color:red;">'+ sender + '</span></p></div>'
				}else{
					var sender = "(配送人:" + item.ship_man_id + ")";
					peisongren = '<span class="order-sender">'+ sender + '</span></p></div>'
				}
				if (item.remark == "" || item.remark == null || item.remark == undefined) {
					var mark = "备注: " + "无";
				} else{
					var mark = "备注: " + item.remark;
				}
				
				li.innerHTML =  '<div class="line1">'
				+ '<span class="order-time">' + time + '</span>'
				+ '<span class="order-pay">'  + payType + "￥" + item.price + '</span>'
				+ sigeButton
				+ '<div class="line2">'
				+ '<p class="about-order">'
				+ '<span class="customer-name"><span class="mui-icon mui-icon-person"></span>' + item.receiver + '</span>'
				+ '<span class="customer-tel"' + 'data-tel="' + item.phone + '"' + 'data-name="' + item.receiver + '"><span class="mui-icon mui-icon-phone"></span>' + item.phone + '</span></p>'
				+ '<p class="address"><span class="address-nav"' + 'data-address="' + item.address + '"></span>'
	    			+ '<span class="order-address"><span class="mui-icon mui-icon-map"></span>' + address + '</span>'
	    			+ peisongren
	    			+ '<div class="order-mark">' + mark + '</div>'
	    			+ '<div class="mui-checkbox line3">'
				+ '<button class="button-goods" type="button"' + 'data-button-goods-id="' + item.id + '">' + "商品" + '</button>'
				+ '<button class="button-fendan" type="button"' + 'data-button-error-id="' + item.id + '">' + "分单" + '</button></div>';
				table4.appendChild(li, table4.firstChild);
			});
		}
		// 导航栏订单状态点击事件
		mui('body').on('tap','.mui-control-item',function(){
			mui('.mui-scroll-wrapper').scroll().scrollTo(0,0,100);//100毫秒滚动到顶
			var href = this.getAttribute('href');
			getData();
		});
		// 拨打电话
		mui('.mui-content').on('tap','.customer-tel',function(){
			var phoneNumber = this.getAttribute('data-tel');
			var name = this.getAttribute('data-name');
//			console.log("tel = " + phoneNumber);
//			console.log("name = " + name);
			var btn = ["取消","确定"];
			mui.confirm(phoneNumber,'确定呼叫:' + name,btn,function(e){
				if(e.index == 1){
					window.open("tel:" + phoneNumber);
				}
			});
		}) 
		// 送货按钮
		mui('.mui-content').on('tap','.sengding',function(){
			var orderID = this.getAttribute('button-send-id');
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		})
		// 送货按钮
		mui('.mui-content').on('tap','.waitack',function(){
			var orderID = this.getAttribute('button-send-id');
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		})
		// 送货按钮
		mui('.mui-content').on('tap','.queue',function(){
			var orderID = this.getAttribute('button-send-id');
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?","",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		})
		// 待确认
		mui('.mui-content').on('tap','.tomorrow',function(){
			var orderID = this.getAttribute('button-send-id');
			var btn = ["取消","确定"];
			mui.confirm("确定需要修改订单状态吗?",btn,function(e){
				if(e.index == 1){
					changeStatus(orderID);
				}
			});
		}) 
		// 分单按钮
		mui('.mui-content').on('tap','.button-fendan',function(){
			var id = this.getAttribute('data-button-error-id');
//			console.log("id = " + id);
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"repolicy.html",
				id:"repolicy.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					listID: id
				},
				waiting:{
					autoShow:false
				}
			})
		}) 
		// 商品按钮
		mui('.mui-content').on('tap','.button-goods',function(){
			var id = this.getAttribute('data-button-goods-id');
//			console.log("订单ID = " + id + localStorage.getItem(id));
			
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"../home/goodslist.html",
				id:"goodslist.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					goodsID: id
				},
				waiting:{
					autoShow:false
				}
			})
		}) 
		
		// 改变订单状态
		function changeStatus(orID){
			mui.ajax(BASE_URL + CHANGE_ORDER_STATUS,{
				data: {
					order_id: orID,
					format: 'json'
				},
				dataType: DATA_TYPE,
				type: REQUEST_TYPE,  
				timeout: TIME_OUT,   
				beforeSend: function(data) {
					plus.nativeUI.showWaiting();
				},
				success: function(data){ 
					plus.nativeUI.closeWaiting();
					if (data.status == 100) {
						mui.toast(data.msg);
						setTimeout(function(){
					        getData();
					    },1200);
					}else{ 
						mui.toast(data.status + data.msg);
					}
				},
				error: function(xhr, type, errerThrown){
					mui.toast(NET_ERROR);
					plus.nativeUI.closeWaiting();
				}
			});
		};
		
		
		
	</script>

</html>
