<!doctype html>
<html>

	<head>
		<meta charset="UTF-8"> 
		<title>订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/orderstyle.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav jfbar">
			<h1 class="mui-title nav-title2">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#item1">
						订单管理
					</a>
					<a class="mui-control-item no-left" href="#item2">
						已完成
					</a>
					<a class="mui-control-item no-left" href="#item3">
						已报错
					</a>
					<a class="mui-control-item no-left" href="#item4" >
						明日订单
					</a>
				</div>
			</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div id="item1" class="mui-control-content mui-active">
					<ul class="mui-table-view">
						 <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<button type="button" class="sengding">送货中</button>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					</ul>
				</div>
				<div id="item2" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="finish">已完成</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					</ul>
				</div>
				<div id="item3" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="error">报错单</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-emark">报错信息:请将车厘子分两包包装 三斤一包</div>
					    		<div class="order-emark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
					    		</div>
					    </li> 
					</ul>
				</div>
				<div id="item4" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					     <li class="mui-table-view-cell mui-collapse-content">
					    		<div class="line1">
					    			<span class="order-time">2016-12-12</span>
					    			<span class="order-pay">支付宝￥106.0</span>
					    			<span class="tomorrow">队列中</span>
					    		</div>
					    		<div class="line2">
				    				<p class="about-order">
					    				<span class="customer-name"><span class="mui-icon mui-icon-person"></span>彭于晏</span> 
					    				<span class="customer-tel"><span class="mui-icon mui-icon-phone"></span>13296664426</span>
					    			</p>
					    			<p class="address">
					    				<span class="order-address">地址: 武昌 洪山区洪山区 南湖大道6号 湖北省农科院行政大楼</span>
					    				<span class="order-sender">(配送人:胡俊杰)</span>
					    			</p>
					    		</div>
					    		<div class="order-mark">订单备注:请将车厘子分两包包装 三斤一包</div>
					    		<div class="line3">
								<button class="button-goods" type="button">商品</button>
								<button class="button-error" type="button">分单</button>
					    		</div>
					    </li> 
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script>
		var table = null;
		mui.plusReady(function(){
			table = document.body.querySelector('.mui-table-view');
//			getData();
		})
		mui('.mui-scroll-wrapper').scroll({
			 scrollY: true, //是否竖向滚动
			 scrollX: false, //是否横向滚动
			 startX: 0, //初始化时滚动至x
			 startY: 0, //初始化时滚动至y
			 indicators: true, //是否显示滚动条
			 deceleration:0.0004, //阻尼系数,系数越小滑动越灵敏
			 bounce: true //是否启用回弹
		});
		mui('body').on('tap','.mui-control-item',function(){
			var href = this.getAttribute('href');
			console.log('点击事件 = ' + href);
		});
		// 拨打电话
		mui('.mui-content').on('tap','.customer-tel',function(){
			var phoneNumber = this.getAttribute('data-tel');
			var name = this.getAttribute('data-name');
//			console.log("tel = " + phoneNumber);
//			console.log("name = " + name);
			var btn = ["取消","确定"];
			mui.confirm(phoneNumber,'确定呼叫:' + name,btn,function(e){
				if(e.index == 1){
					window.open("tel:" + phoneNumber);
				}
			});
		}) 
		// 送货按钮
		mui('.mui-content').on('tap','.sengding',function(){
			var parent = this.getAttribute('button-send-id');
//			console.log("id = " + parent);
			
		}) 
		// 分单按钮
		mui('.mui-content').on('tap','.button-error',function(){
			var id = this.getAttribute('data-button-error-id');
//			console.log("id = " + id);
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"repolicy.html",
				id:"repolicy.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					listID: id
				}
			})
		}) 
		// 商品按钮
		mui('.mui-content').on('tap','.button-goods',function(){
			var id = this.getAttribute('data-button-goods-id');
//			console.log("订单ID = " + id + localStorage.getItem(id));
			
			var animationType = "slide-in-right";//页面显示动画，默认为”slide-in-right“；
			var animationTime = 100; //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200
			mui.openWindow({
				url:"../home/goodslist.html",
				id:"goodslist.html",
				show:{
					autoShow:true,//页面loaded事件发生后自动显示，默认为true
      				aniShow:animationType,
     				duration:animationTime,
				}, 
				extras:{
					goodsID: id
				}
			})
		}) 
	</script>

</html>
